code.chakra-code > div {
  border-radius: var(--chakra-radii-md) !important;
  box-shadow: var(--chakra-shadows-xl) !important;
}
code.chakra-code {
  background-color: transparent !important;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-brand-300);
  transition: color 0.2s ease;
  border-radius: 8px;
}

body {
  overflow-x: hidden;
}

.blog-mdx a {
  font-style: italic;
  text-decoration: underline !important;
}
.blog-mdx img {
  border-radius: var(--chakra-radii-md);
  box-shadow: var(--chakra-shadows-lg);
}
